@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
    word-spacing: 32px;
}

.link-header {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: capitalize;
    text-decoration: none;
    color: #17233D;
    cursor: pointer;
}
.link-header:hover {
    text-decoration: underline solid 2px rgb(57, 206, 226);
}

button {
    width: 124px;
    height: 51px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    border: 2px solid rgb(57, 206, 226);
}

.div-img {
    display: inline-block;
}

main {
    display: flex;
    width: 584px;
}

img {
    width: 596px;
    height: 500px;
    margin-top: 163px;
    margin-left: 121px;
}



h1 {
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    width: 582px;
    height: 164px;
    color: #161A49;
    margin-top: 259px;
    margin-left: 84px;
    display: inline-block;
}

p {
    font-size: 18px;
    color: #4B505A;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 493px;
    height: 99px;
    margin-top: 47px;
    margin-left: 84px;
    display: inline-block;
}

.link-section {
    font-size: 18px;
    color: #6FBF44;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    margin-top: 55px;
    margin-left: 84px;
    display: inline-block;
}